In [ ]:
import os
from dotenv import load_dotenv
from db_schema import get_ddb_conn
load_dotenv()

db_name = os.getenv("POSTGRES_DB")
conn = get_ddb_conn(db_name=db_name)

In [2]:
conn.execute("""
    SELECT table_schema,
           table_name,
           column_name,
           ordinal_position,
           data_type,
           is_nullable,
           column_default
    FROM information_schema.columns
    WHERE table_schema NOT IN ('information_schema','pg_catalog')
    ORDER BY table_schema, table_name, ordinal_position
""").df()

,table_schema,table_name,column_name,ordinal_position,data_type,is_nullable,column_default
0,public,ability,ability_id,1,SMALLINT,NO,None
1,public,ability,ability_name,2,VARCHAR,YES,None
2,public,ability,generation,3,SMALLINT,YES,None
3,public,main_region,main_region_id,1,SMALLINT,NO,None
4,public,main_region,main_region_name,2,VARCHAR,YES,None
...,...,...,...,...,...,...,...
92,public,type_sprites,type_name,2,VARCHAR,YES,None
93,public,type_sprites,type_sprite,3,VARCHAR,NO,None
94,public,version_group,version_group_id,1,SMALLINT,NO,None
95,public,version_group,version_group_name,2,VARCHAR,YES,None
96,public,version_group,generation,3,SMALLINT,YES,None

In [3]:
conn.execute("""
    SELECT
        COUNT(*) AS CT
    FROM pg.pokemon
    LIMIT 10;
""").df()

     CT
0  1328